---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - appprojects
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - rbac-operator.argoproj-labs.io
  resources:
  - argocdprojectrolebindings
  - argocdprojectroles
  - argocdrolebindings
  - argocdroles
  verbs:
  - '*'
- apiGroups:
  - rbac-operator.argoproj-labs.io
  resources:
  - argocdprojectrolebindings/finalizers
  - argocdprojectrolebindings/status
  - argocdprojectroles/finalizers
  - argocdrolebindings/finalizers
  - argocdrolebindings/status
  - argocdroles/finalizers
  verbs:
  - '*'
- apiGroups:
  - rbac-operator.argoproj-labs.io
  resources:
  - argocdprojectroles/status
  verbs:
  - '*'
- apiGroups:
  - rbac-operator.argoproj-labs.io
  resources:
  - argocdroles/status
  verbs:
  - '*'
